
@{
    ViewBag.Title = "Welcome";
}

<h1 class="text-center"><b><i>&nbsp;&nbsp; COOL CARE SYSTEM</i></b></h1>
<br />
<div class="iconLogo text-center">
    <img src="~/Content/images/CoolCareCenter Logo.jpg.png" class="logo_image"/ >
</div>

