@model IEnumerable<CoolCareSystem.Models.ServiceModel>

@{
    ViewBag.Title = "Service Status";
}

<p class="title1">Service Status</p>
@if (!Model.Any())
{
    <h3 class="text-center">There are no services</h3>
}
else
{
    <table class="table table-striped" id="serviceTable">
        <thead>
            <tr>
                <th>
                    Service Id
                </th>
                <th>
                    User Name
                </th>
                <th>
                    Status
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.Raw(item.Status)
                    </td>
                    <td>
                        @Html.ActionLink("Status", "ServiceStatusDetail", new { id = item.Id }, new { @class = "btn btn-xs btn-primary" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts {
    <script>
        dataTableSetup("serviceTable");
    </script>
}
