@model IEnumerable<CoolCareSystem.Models.ServiceModel>

@{
    ViewBag.Title = "Service Status";
}

<p class="title1">Service Status</p>
<div id="ServicesStatus">
    @(Html.DevExtreme().DataGrid()
                .ID("serviceStatusGridsContainer")
                .DataSource(Model)
                .RowAlternationEnabled(true)
                .RepaintChangesOnly(true)
                .StateStoring(s => s.Enabled(true).Type(StateStoringType.LocalStorage).StorageKey("ServicesStatusAdmin"))
                .Export(e => e.Enabled(true).AllowExportSelectedData(true))
                .SearchPanel(s => s.Visible(true).HighlightCaseSensitive(true))
                .AllowColumnReordering(true)
                .ShowBorders(true)
                .ColumnAutoWidth(true)
                .Grouping(g => g.AutoExpandAll(true))
                .Pager(p => p.ShowPageSizeSelector(true).AllowedPageSizes(new[] { 5, 10, 20 }))
                .Paging(p => p.PageSize(10))
                .GroupPanel(g => g.Visible(true).EmptyPanelText("Drag a column"))
                .Sorting(s => s.Mode(GridSortingMode.Multiple))
                .ColumnChooser(c => c.Enabled(true).Mode(GridColumnChooserMode.Select))
                .ShowColumnLines(true)
                .Columns(columns =>
                {
                columns.Add()
                .DataField("Id")
                .Caption("Service Id")
                .Alignment(HorizontalAlignment.Left);
                columns.Add()
                .DataField("UserName")
                .Caption("User Name");

                columns.Add()
                .DataField("Status");

                columns.Add()
                .DataField("Id")
                .Caption("")
                .Alignment(HorizontalAlignment.Center)
                .CellTemplate(@<text>
                    <a href="@Html.Raw(Url.Action("ServiceStatusDetail", "Service"))?Id=<%= data.Id %>" class="btn btn-xs btn-primary">Status</a>
                </text>);


                                                                                        })
        )
</div>


@section Scripts {
    <script>
        
    </script>
}
